<!DOCTYPE html>
{% block title %}
    {{ title }}
{% endblock %}

{% block main %}

  <div><a href="/get?email={{ user['email'] }}">  Back to the user info </a></div><br>
  <div><a href="/">  Back to users' list </a></div><br>
  <div><a href="/remove?email=}}">  Remove the user from the list </a></div><br>

<h2>Update User {{ user['name'] }}:</h2>
    <form action="/update?email={{ user['email'] }}" method="post">
        <table>
            <tr>
                <td>Name: </td><td>{{ user['name'] }}:</td>
                <td><input autocomplete="off" autofocus name="name" placeholder="User's name" type="text"/></td>
            </tr>
            <tr>
                <td>Date of birth: </td><td>{{ user['date_of_birth'] }} </td>
                <td><input type="date" name="date_of_birth" placeholder="dd-mm-yyyy" pattern="\d{1,2}-\d{1,2}-\d{4}"> </td>
            </tr>
            <tr>
                <td><button type="submit">Update User</button></td>
            </tr>
        </table>
    </form>
{% endblock %}




