<!DOCTYPE html>
{% block title %}
    User Info
{% endblock %}

{% block main %}

  <div><a href="/">  Back to the users' list </a></div><br>
  <div><a href="/update?email={{ user['email'] }}">  Update the user's info </a></div><br>
  <div><a href="/remove?email={{ user['email'] }}">  Remove the user from the list </a></div><br>

  <br>
  <table>
      <tr>
          <td>Name:</td>
          <td>{{ user['name'] }}</td>
      </tr>
      <tr>
          <td> Email: </td>
          <td>{{ user['email'] }}</td>
      </tr>
      <tr>
          <td>Date of birth:</td>
          <td>{{ user['date_of_birth'] }}</td>
      </tr>
  </table>
{% endblock %}
