<!DOCTYPE html>
{% block title %}
    Index
{% endblock %}

{% block main %}
<title> <p2> The List of Users </p2> </title>


    <form action="/add" method="post">
        <div>&nbsp &nbsp
            <input autocomplete="off" autofocus name="name" placeholder="User's name" type="text"/>
        </div></br>&nbsp &nbsp
        <div>&nbsp &nbsp
            <input autocomplete="off" autofocus name="email" placeholder="user@email.com" type="text"/>
        </div></br>&nbsp &nbsp
        <div>&nbsp &nbsp
            <input type="date" name="date_of_birth" value="2019-01-01"> &nbsp
        </div></br>
        <button type="submit">Add User</button>
    </form>


<table>
    {% for user in users %}
        
        <tr>
            <td> <a href="/get?email={{ user.email }}"> {{ user.name}} </a> </td>
            <td>{{ user.email}} </td>
        </tr>
  
    {% endfor %}
 </table>

    {% if prev_url %}
    <a href="{{ prev_url }}">Back</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Forward</a>
    {% endif %}

{% endblock %}
